a.one {
    background-color: darkseagreen;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: 2px solid green;
    border-radius: 25%;
    margin-right: 5px;
    width: 100px;
}

    a.one:hover, a.one:active {
        background-color: darkcyan;
        color: white;
    }

a.two {
    color: wheat;
    background-color: palevioletred;
    padding: 10px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border: 2px solid green;
    border-radius: 25%;
    margin-right: 5px;
    width: 100px;
}

    a.two:hover, a.two:active {
        background-color: darkblue;
        color: white;
    }
